* {
    text-decoration: none ;
    list-style-type: none;

}

.container {
    display: grid;
    grid-template-areas:
    "head head"
    "nav main";
    grid-template-columns: 1fr 6fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.head {
    grid-area: head;
    border: 3px solid greenyellow;
}
nav {
    grid-area: nav;
    border: 3px solid greenyellow;
    padding: 15px;
}
.main {
    grid-area: main;
    border: 3px solid greenyellow
}